/* Roboto weights 300;400;700;900 */
/* blue: 0095DD */

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #eee;
}

h1  {
  letter-spacing: 4px;
  margin: .2em;
}

input {
  background-color: #222;
  color: #eee;
  padding: .3em;
  border-color: #000;
  border-style: solid;
  margin-right: 1em;
}

input.button {
  border: 0;
}

canvas {
  background-color: #000;
  border-radius: .5em;
}

ul  {
  padding: 1em;
  border: 1px solid #999999;
}

li {
  list-style-type: none;
  font-size: .8em;
  font-weight: 600;
  padding: .3em;
  text-transform: capitalize;
  margin-top: 0;
  /* border-radius: 3px; */
}


#wrapper {

  /* width: 800px; */
  margin: 2.5em auto 0 auto;
}

#canvasWrapper {
  background-color: #000;
  /* height: 500px; */
  border-radius: .5em;
  padding: 0;
  position: relative;
}

#infoBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: auto;
  background-color: #222;
  padding: 2em 1.5em;
  border-radius: 0 0 .5em .5em;
}

#infoBoxContainer p {
  font-size: 1.15em;
}

#infoBoxContainer * {
  margin-top: 10px;
}

.timer {
  opacity: 0.5;
  margin: 10px 0 0 10px;
  position: absolute;
  top: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .8em
}

.platformCounter {
  opacity: 0.5;
  margin: 10px 10px;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 700;
  font-size: .8em;
  text-transform: uppercase;
}

.button {
  opacity: 1;
  display: inline-block;
  background-color: #000;
  padding: 1em 1.2em;
  margin-right: .4em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .7em;
  color: #0095DD;
  cursor: pointer;
  border-radius: .5em;
}

.button:hover {
  background-color: #123;
}

#infoBoxContainer .error {
  margin-top: 1em;
  color: white;
  padding: .7em;
  background-color: #a31637;
  border-radius: 5px;
  font-size: .8em;
  border: 0;
  font-weight: 500;
}
