/* Roboto weights 300;400;700;900 */
/* blue: 0095DD */

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #eee;
}

#wrapper {
  width: 800px;
  margin: 2.5em auto 2em auto;
}

#canvasOverlay {
  padding: 0;
  position: relative;
}

canvas {
  background-color: #000;
  border-radius: .5em;
}

.timer {
  opacity: 0.5;
  margin: 10px 0 0 10px;
  position: absolute;
  top: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .8em
}

.platformCounter {
  opacity: 0.5;
  margin: 10px 10px;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 700;
  font-size: .8em;
  text-transform: uppercase;
}

.button {
  opacity: 1;
  display: inline-block;
  background-color: #000;
  padding: 1em 1.2em;
  margin-right: .4em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .8em;
  color: #0095DD;
  cursor: pointer;
  border-radius: .5em;
}

.button:hover {
  background-color: #123;
}
